<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>The Home Page <%= 4 + 5 + 1 %>
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minus, iure pariatur cupiditate perspiciatis quo,
        porro harum nisi consequatur culpa blanditiis veniam amet corporis earum aliquam? Quidem explicabo cupiditate
        minus?</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci ex accusantium eum id, aut nisi quae deleniti
        aperiam reiciendis sapiente harum? Repellat, earum porro. Suscipit natus eveniet veritatis sapiente placeat!</p>
</body>

</html>