<%- include('partials/head') %>

    <%- include('partials/navbar') %>
        <h1>Your random number is: <%= rand %>
        </h1>
        <% if(rand % 2===0) { %>
            <p>That is an even number</p>
            <% } else {%>
                <p>That is an odd number</p>
                <% }%>
                    <%- include('partials/footer') %>